<nav *ngIf="showMenu">
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo right">Angular Routes</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/courses']" [queryParams]="{page:1}">Courses</a></li>
      <!--li routerLinkActive="active"><a [routerLink]="['/courses/', courseId.value]">Course with id</a></li-->
      <li routerLinkActive="active"><a [routerLink]="['/students']">Students</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <!--p>Type the course id:</p>
  <br>
  <input type="text" (input)="0" #courseId-->
  
  <!-- (input)="0" is used to fix the double click to change the id-->
  <router-outlet></router-outlet>
</div>


